:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 24;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #694E4E;

}

nav {
    width: 100%;
    height: 64px;
    background-color: #F3C5C5;
    display: flex;
    justify-content: space-around;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

}

#logo {
    height: 120px;
    width: 150px;
    padding-top: .4rem;
    padding-left: 2rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

a {
    position: relative;
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    letter-spacing: 1px;
    top: 1rem;
    padding: 0 10px;
}

a:after {
    content: " ";
    position: absolute;
    background-color: #694E4E;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: .4s;
}

a:hover::after {
    width: 100%;

}

#home {
    position: absolute;
    left: 8rem;
}

#about {
    position: absolute;
    left: 22rem;
}

#skills {
    position: absolute;
    left: 36rem;
}

#projects {
    position: absolute;
    left: 66rem;
}

#contact {
    position: absolute;
    left: 86rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    color: #F3C5C5;
    position: relative;
    top: 10rem;

}

h1 {
    position: relative;

}

h1::before,
h1::after {
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

h1::before {
    background: #694E4E;
    animation: typewriter 6s steps(26) 1s forwards;
}

h1::after {
    width: 0.125em;
    background: black;
    animation: typewriter 6s steps(26) 1s forwards, blink 500ms steps(26) infinite;

}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h3 {
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 8s forwards;
}